# Ignore IDE settings
.idea/
*.iml


# Ignore compiled class files
*.class

# Ignore logs/temp files
*.log
*.tmp
.DS_Store

# Ignore all files in /data except the serialized habits file
/data/*
!data/habits.ser
